<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/comic">
	  <img src="img/bang_soundeffect.svg" alt="Blank Image" height="40" width="50">
	  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/comic">Comics</a>
        </li>
       
		  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genres
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/comic/genre/superhero">Superhero</a></li>
            <li><a class="dropdown-item" href="/comic/genre/manga">Manga</a></li>
            <li><a class="dropdown-item" href="/comic/genre/humor">Humor</a></li>
			<li><a class="dropdown-item" href="/comic/genre/slice-of-life">Slice-Of-Life</a></li>
            <li><a class="dropdown-item" href="/comic/genre/sci-fi">Sci-fi</a></li>
			  <li><a class="dropdown-item" href="/comic/genre/fantasy">Fantasy</a></li>
			  <li><a class="dropdown-item" href="/comic/genre/horror">Horror</a></li>
            <li><a class="dropdown-item" href="/comic/genre/action">Action</a></li>
			  <li><a class="dropdown-item" href="/comic/genre/non-fiction">Non-Fiction</a></li>
          </ul>
        </li>
		  <% if (user) { %> 
		  <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/comic/new">Add Comic</a>
       	 </li>
		  <% } %> 
		  <% if(user) { %>
			   <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">Log Out</a>
        </li>
			  
		 <% } else { %>
		   <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Log In</a>
        </li>
		  <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/signup">Sign up</a>
        </li>
		    
		<%  } %>
		  
		 
      </ul>
      <form class="d-flex" action="/comic/search" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search" name="term" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>